/** Theme **/

.theme * {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, .theme {
  width: 1px;
  min-width: 100%;
	background: #E1E3E5;
	float: left;
	width: 100%;
	padding-bottom: 10px;
}

.theme a, .theme u
{
	text-decoration:underline;
}

.theme #grid {
	margin: 0 auto;
	width: 1000px;
}

.theme .column {
    float: left;
}

.theme .size-1of2 {
    width: 50%;
}

@media screen and (min-width: 768px) {
	.theme #grid[data-columns]::before {
	content: '2 .column.size-1of2';
	}
}

/** Theme END **/

/****/

/** Elements **/

@import url(//fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Open+Sans:400italic,700italic,400,700);

.theme a
{
	text-decoration:underline;
}

.theme h1
{
	font-family: "Open Sans", sans-serif;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: -1px;
	font-weight: normal;
	color: #232527;
}

.theme h2 {
	font-family: "Open Sans", sans-serif;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -1px;
	font-weight: normal;
	color: #232527;
}

.theme h3 {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #232527;
}

.theme h4 {
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #555759;
}

.theme h5 {
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color: #555759;
}

.theme .custom .content .col h2
{
	width:100%;
	text-align:left!important;
}

.theme .custom-content,
.theme .custom .content .col,
.theme .custom .content .col div,
.theme .custom .content .col span,
.theme p,
.theme .custom .content ul li,
.theme .custom .content ol li,
.theme .description p {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 171%;
	color: #555759;
}



.theme .custom .content .font11 {
	font-size:11px!important;
}

.theme .custom .content .font12 {
	font-size:12px!important;
}

.theme .custom .content .font14 {
	font-size:14px!important;
}

.theme .custom .content .font16 {
	font-size:16px!important;
}

.theme .custom .content .font18 {
	font-size:18px!important;
}

.theme .custom .content .font20 {
	font-size:20px!important;
}

.theme .custom .content .font16 {
	font-size:16px!important;
}

.theme .custom .content .font20 {
	font-size:20px!important;
}

.theme .custom .content .font22 {
	font-size:22px!important;
}

.theme .custom .content .font24 {
	font-size:24px!important;
}

.theme .custom .content .font28 {
	font-size:28px!important;
}

.theme .custom .content .font32 {
	font-size:32px!important;
}

.theme .custom .content .font36 {
	font-size:36px!important;
}

.theme .custom .content .font40 {
	font-size:40px!important;
}

.theme .custom .content .font44 {
	font-size:44px!important;
}

.theme .custom .content ul li,
.theme .custom .content ol li {
	display: list-item !important;
}

.theme .custom .content ul {
	list-style-type: square !important;
	margin-left: 20px;
}

.theme .custom .content ol {
	list-style-type: decimal !important;
	margin-left: 20px;
}

.theme .custom .content ul li, .theme .custom .content ol li {
	display: list-item !important;
}

.theme input,
.theme textarea {
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
}

.theme a {
	cursor: pointer;
}

.theme h1 a,
.theme h2 a,
.theme h3 a,
.theme h4 a,
.theme h5 a,
.theme p a,
.theme .custom-content a,
.theme .custom .content .col a,
.theme .custom .content .col div a,
.theme .custom .content .col span a,
.theme .custom .content ul li a,
.theme .custom .content ol li a {
	color: inherit;
	text-decoration: underline;
}

.theme h1 a:hover,
.theme h2 a:hover,
.theme h3 a:hover,
.theme h4 a:hover,
.theme h5 a:hover,
.theme p a:hover,
.theme .custom-content a:hover,
.theme .custom .content .col a:hover,
.theme .custom .content .col div a:hover,
.theme .custom .content .col span a:hover,
.theme .custom .content ul li a:hover,
.theme .custom .content ol li a:hover {
	text-decoration: none;
}

.theme .button {
	display: block;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	background: #555759;
    border: none;
    cursor: pointer;
    text-decoration: none !important;
}

.theme .button:hover {
	opacity: 0.9;
}

.theme .button.left
{
	float:left !important;
}

.theme .button.right
{
	float:right !important;
}

.theme .button.center
{
	display: inline-block !important;
	float: none !important;
}

.theme .button.small {
	padding: 14px 24px;
}

.theme .button.medium {
	padding: 18px 28px;
	font-size: 13px;
}

.theme .button.large {
	padding: 20px 30px;
	font-size: 14px;
}

/** Elements END **/

/****/

/** Sections **/

.theme section {
	position: relative;
	margin: 10px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(35,37,39,0.08);
}

.theme.background.image,
.theme section.background.image {
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	 background-size: cover;
}

.theme.background.image,
.theme section.intro.background.image {
	background-attachment: fixed;
}

.theme.background:before,
.theme section.background:before {
	content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.theme.background:before {
	position: fixed;
}

.theme.background.dark:before,
.theme section.background.dark:before {
	background-color: #232527;
}

.theme.background.light:before,
.theme section.background.light:before {
	background-color: #ffffff;
}

.theme.background.full-opacity:before,
.theme section.background.full-opacity:before {
	opacity: 0!important;
}

.theme.background.threeqs-opacity:before,
.theme section.background.threeqs-opacity:before {
	opacity: 0.3!important;
}

.theme.background.half-opacity:before,
.theme section.background.half-opacity:before {
	opacity: 0.5!important;
}

.theme.background.quarter-opacity:before,
.theme section.background.quarter-opacity:before {
	opacity: 0.75!important;
}

.theme.background.lowest-opacity:before,
.theme section.background.lowest-opacity:before {
	opacity: 0.9!important;
}

.theme.background > *,
.theme section.background > * {
	z-index: 2;
	position: relative;
}

.theme section.background.light h1,
.theme section.background.light h2,
.theme section.background.light h3,
.theme section.background.light h4,
.theme section.background.light h5,
.theme section.background.light p,
.theme section.background.light ul li,
.theme section.background.light ol li {
	color: #232527 !important;
}

.theme section.background.dark h1,
.theme section.background.dark h2,
.theme section.background.dark h3,
.theme section.background.dark h4,
.theme section.background.dark h5,
.theme section.background.dark p,
.theme section.background.dark ul li,
.theme section.background.dark ol li {
	color: #fff !important;
}

.theme section.background.dark h1 a,
.theme section.background.dark h2 a,
.theme section.background.dark h3 a,
.theme section.background.dark h4 a,
.theme section.background.dark h5 a,
.theme section.background.dark p a,
.theme section.background.dark ul li a,
.theme section.background.dark ol li a {
	color: #fff !important;
}

.theme.background.image {
	background-image:url(/img/background/1.jpg);
}

.theme #intro.background.image {
	background-image:url(/img/background/1.jpg);
}

.theme #about.background.image {
	background-image:url(/img/background/2.jpg)
}

.theme #experience.background.image {
	background-image:url(/img/background/3.jpg)
}

.theme #education.background.image {
	background-image:url(/img/background/4.jpg)
}

.theme #skills.background.image {
	background-image:url(/img/background/5.jpg)
}

.theme #portfolio.background.image {
	background-image:url(/img/background/6.jpg)
}

.theme #testimonials.background.image {
	background-image:url(/img/background/7.jpg)
}

.theme #gallery.background.image {
	background-image:url(/img/background/8.jpg)
}

.theme #contact.background.image {
	background-image:url(/img/background/9.jpg)
}

.theme section .wrapper {
	padding: 60px 0;
}

.theme section .content {
	width: 360px;
	margin: 0 60px;
}

.theme section .content .description {
	margin-bottom: 30px;
	float: left;
	width: 100%;
}

.theme section .content .description p {
	margin-top: 15px;
}

.theme section.background.light .content .list .item {
	border-color: rgba(0,0,0,0.08) !important;
}

.theme section.background.light .content .list .item:hover {
	background: rgba(0,0,0,0.04) !important;
}

.theme section.background.dark .content .list .item {
	border-color: rgba(255,255,255,0.16) !important;
}

.theme section.background.dark .content .list .item:hover {
	background: rgba(255,255,255,0.08) !important;
}

.theme section .content .list-expand {
	float: left;
	width: 100%;
	margin-top: 30px;
	display: none;
}

.theme section .content .list-expand a {
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	color: #555759;
	width: 100%;
	float: left;
	text-align: center;
	background: rgba(35,37,39,0.08);
	text-decoration: none !important;
}

.theme section .content .list-expand a:hover {
	background: rgba(35,37,39,0.16);
}

.theme section.background.light .content .list-expand a {
	color: #232527 !important;
	background: rgba(0,0,0,0.08) !important;
}

.theme section.background.light .content .list-expand a:hover {
	background: rgba(0,0,0,0.16) !important;
}

.theme section.background.dark .content.expandable .list-expand a {
	background: rgba(255,255,255,0.16) !important;
	color: #fff !important;
}

.theme section.background.dark .content.expandable .list-expand a:hover {
	background: rgba(255,255,255,0.24) !important;
	color: #fff !important;
}

.theme section .content.expandable .list-expand {
	display: block;
}

.theme section .content.expandable .list-expand a.less-button {
	display: none;
}

/** Sections END **/

/****/

/** Intro **/

.theme .intro {
	width: 980px;
	margin: 20px auto 10px auto;
	display: table;
}

.theme .intro .wrapper {
	display: table-cell;
	vertical-align: middle;
	padding: 120px 0 !important;
}

.theme .intro .content {
	text-align: center;
	width: 480px;
	margin: 0 auto;
}

.theme .intro .content img {
	border-radius: 99px;
	margin-bottom: 25px;
}

.theme .intro .content h1,
.theme .intro .content p {
	width: 100%;
	text-align: center;
}

.theme .intro .content p {
	margin-top: 0px;
	font-size: 18px;
	line-height: 28px;
}

.theme .intro .content.image-large img {
	max-width: 180px;
}

.theme .intro .content.image-medium img {
	max-width: 130px;
}

.theme .intro .content.image-small img {
	max-width: 80px;
}

.theme .intro .content.image-none {
	margin-top: 40px;
	margin-bottom: 40px;
}

.theme .intro .content.image-none h1 {
	font-size: 36px;
	line-height: 44px;
	letter-spacing: -1px;
}

.theme .intro .wrapper {
	text-align: center;
}

.theme .intro .content.image-left {
	width: auto;
	display: inline-block;
	float: none;
	max-width: 740px;
}

.theme .intro .content.image-left img {
	float: left;
	margin-bottom: 0;
	margin-right: 60px;
}

.theme .intro .content.image-left .text {
	float: left;
	display: table;
}

.theme .intro .content.image-left .text .text-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.theme .intro .content.image-left h1,
.theme .intro .content.image-left p {
	float: none;
	display: block;
	text-align: left;
}

.theme .intro .content.image-left.image-large .text {
	height: 180px;
	max-width: 500px;
}

.theme .intro .content.image-left.image-medium .text {
	height: 130px;
	max-width: 550px;
}

.theme .intro .content.image-left.image-small .text {
	height: 80px;
	max-width: 600px;
}

.theme .intro .content.image-right {
	width: auto;
	display: inline-block;
	float: none;
	max-width: 740px;
}

.theme .intro .content.image-right img {
	float: right;
	margin-bottom: 0;
	margin-left: 60px;
}

.theme .intro .content.image-right .text {
	display: table;
	float: left;
	max-width: 550px;
}

.theme .intro .content.image-right .text .text-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.theme .intro .content.image-right h1,
.theme .intro .content.image-right p {
	float: none;
	display: block;
	text-align: left;
}

.theme .intro .content.image-right.image-large .text {
	height: 180px;
	max-width: 500px;
}

.theme .intro .content.image-right.image-medium .text {
	height: 130px;
	max-width: 550px;
}

.theme .intro .content.image-right.image-small .text {
	height: 80px;
	max-width: 600px;
}

/** Intro END **/

/****/

/** Custom **/

.theme .custom .content .col {
	float: left;
	width: 100%;
	text-align: center;
}

.theme .custom .content .col h2 {
	margin-bottom: 15px;
}

.theme .custom .content .col img.image-large {
	max-width:100%!important;
}

.theme .custom .content .col img.image-medium {
	max-width:70%!important;
}

.theme .custom .content .col img.image-small {
	max-width:40%!important;
}

.theme .custom .content .col ul {
	margin-left: 16px;
	list-style-type: square !important;
}

.theme .custom .content .col ol {
	margin-left: 18px;
	list-style-type: decimal !important;
}

.theme .custom .content .connected-custom-sortable > div {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

.theme .custom .content .col .inherit {
	text-align: center !important;
	width: 100%;
	float: left;
}

.theme .custom .content .col .button-wrapper {
	margin-bottom: 30px;
}

.theme .custom .content.one-col .col .button-wrapper.center {
	text-align:center;
}

/** Custom END **/

/** Custom v2 **/

.theme .custom-v2 .content .col span.font16 {
	font-size: 16px;
}

.theme .custom-v2 .content .col span.font20 {
	font-size: 20px;
}

.theme .custom-v2 .content .col span.font24 {
	font-size: 24px;
}

.theme .custom-v2 .content .col span.font28 {
	font-size: 28px;
}

.theme .custom-v2 .content .col span.font32 {
	font-size: 32px;
}

.theme .custom-v2 .content .col span.font36 {
	font-size: 36px;
}

.theme .custom-v2 .content .col span.font40 {
	font-size: 40px;
}

.theme .custom-v2 .content .col span.font44 {
	font-size: 44px;
}

.theme .custom-v2 .content p a {
  cursor: pointer;
  color: #1E1F20;
  text-decoration: underline;
}

.theme .custom-v2 .content .col {
	float: left;
	width: 100%;
	text-align: center;
}

.theme .custom-v2 .content .col h2 {
	margin-bottom: 15px;
}

.theme .custom-v2 .content .col img.image-large {
	max-width: 100%!important;
}

.theme .custom-v2 .content .col img.image-medium {
	max-width: 70%!important;
}

.theme .custom-v2 .content .col img.image-small {
	max-width: 40%!important;
}

.theme .custom-v2 .content .col ul {
	margin-left: 16px;
	list-style-type: square !important;
}

.theme .custom-v2 .content .col ol {
	margin-left: 18px;
	list-style-type: decimal !important;
}

.theme .custom-v2 .content .connected-custom-sortable > div {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

.theme .custom-v2 .content .col .inherit {
	text-align: center !important;
	width: 100%;
	float: left;
}

.theme .custom-v2 .content .col .button-wrapper {
	margin-bottom: 30px;
}

.theme .custom-v2 .content.one-col .col .button-wrapper.center {
	text-align: center;
}

/** Custom v2 END **/

/****/

/** Experience **/

.theme .experience .list {
	float: left;
	width: 100%;
}

.theme .experience .list .item {
	float: left;
	width: 100%;
	padding: 30px 60px;
	margin-left: -60px;
	border-top: solid 1px rgba(35,37,39,0.08);
	cursor: pointer;
}

.theme .experience .list .item.hidden {
	display: none;
}

.theme .experience .list .item:hover {
	background: rgba(35,37,39,0.04);
}

.theme .experience .list .item:last-child,
.theme .experience .list .item:nth-child(4) {
	border-bottom: solid 1px rgba(35,37,39,0.08);
}

.theme .experience .list.expanded .item:nth-child(4) {
	border-bottom: none;
}

.theme .experience .list .item .image {
	float: left;
	width: 60px;
	height: 60px;
	display: table;
}

.theme .experience .list .item .image .image-wrapper {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

.theme .experience .list .item .image .image-wrapper img {
	width: 100%;
}

.theme .experience .list .item .text {
	float: right;
	width: 280px;
	height: 60px;
	display: table;
}

.theme .experience .list .item .text .text-wrapper {
	display: table-cell;
	vertical-align: middle;
}

/** Experience END **/

/****/

/** Education **/

.theme .education .list {
	float: left;
	width: 100%;
}

.theme .education .list .item {
	float: left;
	width: 100%;
	padding: 30px 60px;
	margin-left: -60px;
	border-top: solid 1px rgba(35,37,39,0.08);
	cursor: pointer;
}

.theme .education .list .item.hidden {
	display: none;
}

.theme .education .list .item:hover {
	background: rgba(35,37,39,0.04);
}

.theme .education .list .item:last-child,
.theme .education .list .item:nth-child(4) {
	border-bottom: solid 1px rgba(35,37,39,0.08);
}

.theme .education .list.expanded .item:nth-child(4) {
	border-bottom: none;
}

.theme .education .list.expanded .item:last-child {
	border-bottom: solid 1px rgba(35,37,39,0.08);
}

.theme .education .list .item .image {
	float: left;
	width: 60px;
	height: 60px;
	display: table;
}

.theme .education .list .item .image .image-wrapper {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

.theme .education .list .item .image .image-wrapper img {
	width: 100%;
}

.theme .education .list .item .text {
	float: right;
	width: 280px;
	display: table;
	height: 60px;
}

.theme .education .list .item .text .text-wrapper {
	display: table-cell;
	vertical-align: middle;
}

/** Education END **/

/****/

/** List **/

.theme .list .list {
	float: left;
	width: 100%;
}

.theme .list .list .item {
	padding: 10px 16px;
	border: solid 1px rgba(35,37,39,0.08);
	float: left;
	margin: 0 6px 6px 0;
}

.theme .list .list .item:hover {
	border-color: rgba(35,37,39,0.16);
}

.theme section.list.background.dark .list .item {
	border-color: rgba(255,255,255,0.16) !important;
}

.theme section.list.background.dark .list .item:hover {
	border-color: rgba(255,255,255,0.24) !important;
}

.theme section.list.background.light .list .item {
	border-color: rgba(35,37,39,0.08) !important;
}

.theme section.list.background.light .list .item:hover {
	border-color: rgba(35,37,39,0.16) !important;
}

/** List END **/

/****/

/** Portfolio **/

.theme .portfolio .list {
	float: left;
	width: 100%;
}

.theme .portfolio .list .item {
	float: left;
	width: 100%;
	padding: 30px 60px;
	margin-left: -60px;
	border-top: solid 1px rgba(35,37,39,0.08);
	cursor: pointer;
}

.theme .portfolio .list .item.hidden {
	display: none;
}

.theme .portfolio .list .item:hover {
	background: rgba(35,37,39,0.04);
}

.theme .portfolio .list .item:last-child,
.theme .portfolio .list .item:nth-child(4) {
	border-bottom: solid 1px rgba(35,37,39,0.08);
}

.theme .portfolio .list.expanded .item:nth-child(4) {
	border-bottom: none;
}

.theme .portfolio .list .item:last-child {
	margin-bottom: 0;
}

.theme .portfolio .list .item .image {
	float: left;
	width: 100px;
	height: 100px;
	display: table;
}

.theme .portfolio .list .item .image .image-wrapper {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

.theme .portfolio .list .item .image .image-wrapper img {
	width: 100%;
}

.theme .portfolio .list .item .text {
	width: 240px;
	float: right;
	height: 100px;
	display: table;
}

.theme .portfolio .list .item .text .text-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.theme .portfolio .list .item .text h3,
.theme .portfolio .list .item .text h4 {
	float: left;
	width: 100%;
}

.theme .portfolio .list .item .text h4 {
	margin-top: 5px;
}

.theme .portfolio .list .item .info .button {
	float: left;
	margin-top: 3px;
}

/** Portfolio END **/

/****/

/** Testimonials **/

.theme .testimonials .list {
	float: left;
	width: 100%;
}

.theme .testimonials .list .item {
	float: left;
	width: 100%;
	padding: 30px 60px;
	margin-left: -60px;
	border-top: solid 1px rgba(35,37,39,0.08);
	cursor: pointer;
}

.theme .testimonials .list .item.hidden {
	display: none;
}

.theme .testimonials .list .item:hover {
	background: rgba(35,37,39,0.04);
}

.theme .testimonials .list .item:last-child,
.theme .testimonials .list .item:nth-child(4) {
	border-bottom: solid 1px rgba(35,37,39,0.08);
}

.theme .testimonials .list.expanded .item:nth-child(4) {
	border-bottom: none;
}

.theme .testimonials .list .item:last-child {
	margin-bottom: 0;
}

.theme .testimonials .list .item .image {
	float: left;
	width: 60px;
	height: 60px;
	display: table;
}

.theme .testimonials .list .item .image .image-wrapper {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

.theme .testimonials .list .item .image .image-wrapper img {
	width: 100%;
}

.theme .testimonials .list .item .text {
	float: right;
	width: 280px;
	height: 60px;
	display: table;
}

.theme .testimonials .list .item .text .text-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.theme .testimonials .list .item .text h4 {
	margin-top: 3px;
}

/** Testimonials END **/

/****/

/** Gallery **/

.theme .gallery .list {
	float: left;
	width: 100%;
}

.theme .gallery .list .item {
	float: left;
	width: 114px;
	height: 114px;
	margin: 0 6px 6px 0;
	text-align: center;
	display: table;
}

.theme .gallery .list .item:nth-child(3n+3) {
	margin-right: 0;
}

.theme .gallery .list .item .item-wrapper {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	text-align: center;
}

.theme .gallery .list .item img {
	max-width:114px;
	max-height:114px;
	display: inline-block;
}

/** Gallery END **/

/****/

/** Contact **/

.theme .contact form {
	float: left;
	width: 100%;
}

.theme .contact form input[type="text"],
.theme .contact form input[type="email"] {
	float: left;
	width: 92%;
	padding: 10px 4%;
	font-size: 12px;
	resize: none;
	margin-bottom: 10px;
	border: none;
}

.theme .contact form textarea {
	float: left;
	width: 94%;
	height: 150px;
	padding: 14px 2% 14px 4%;
	resize: none;
	font-size: 12px;
	border: none;
	margin-bottom: 10px;
}

.theme .contact form input[type="text"],
.theme .contact form input[type="email"],
.theme .contact form textarea {
	background: rgba(35,37,39,0.08);
}

.theme .contact form input[type="text"]:focus,
.theme .contact form input[type="email"]:focus,
.theme .contact form textarea:focus {
	background: rgba(35,37,39,0.16);
}

.theme section.contact.background.dark form input[type="text"],
.theme section.contact.background.dark form input[type="email"],
.theme section.contact.background.dark form textarea {
	background: rgba(35,37,39,0.64) !important;
	color: #fff !important;
}

.theme section.contact.background.dark form input[type="text"]:focus,
.theme section.contact.background.dark form input[type="email"]:focus,
.theme section.contact.background.dark form textarea:focus {
	background: rgba(35,37,39,0.64) !important;
	color: #fff !important;
}

.theme section.contact.background.light form input[type="text"],
.theme section.contact.background.light form input[type="email"],
.theme section.contact.background.light form textarea {
	background: rgba(35,37,39,0.86) !important;
	color: #fff !important;
}

.theme section.contact.background.light form input[type="text"]:focus,
.theme section.contact.background.light form input[type="email"]:focus,
.theme section.contact.background.light form textarea:focus {
	background: rgba(35,37,39,0.86) !important;
	color: #fff !important;
}

.theme .contact form .notification {
	float: left;
	width: 100%;
	padding: 10px 0;
	margin-bottom: 10px;
}

.theme .contact form .notification.error {
	background: #984134;
}

.theme .contact form .notification.error img {
	float: left;
	margin: 3px 15px 0 15px;
}

.theme .contact form .notification.success {
	background: #3D8247;
}

.theme .contact form .notification.success img {
	float: left;
	margin: 5px 15px 0 15px;
}

.theme .contact form .notification h5 {
	color: #fff !important;
	float: left;
	display: block;
	line-height: 21px;
}

.theme .contact form .notification .close {
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	background: url(/img/icon/contact-close.png) no-repeat center;
}

.theme .contact form input[type="submit"] {
	width: 100%;
	height: 40px;
}

.theme .contact .content .info {
	float: left;
	width: 100%;
	margin-bottom: 30px;
}

.theme .contact .content .info > div {
	float: left;
	height: 36px;
	padding-left: 30px;
	margin-bottom: 30px;
	background-repeat: no-repeat;
	background-position: left;
	clear: both;
}

.theme .contact .content .info > div:last-child {
	margin-bottom: 8px;
}

.theme .contact .content .info > div h3,
.theme .contact .content .info > div h5 {
	width: 310px;
	float: right;
}

.theme .contact .content .info > div.location {
	background-image: url(/img/icon/location-dark.png);
}

.theme .contact.background.dark .content .info > div.location {
	background-image: url(/img/icon/location-light.png);
}

.theme .contact .content .info > div.phone {
	background-image: url(/img/icon/phone-dark.png);
	background-position: center left 5px;
}

.theme .contact.background.dark .content .info > div.phone {
	background-image: url(/img/icon/phone-light.png);
}

.theme .contact .content .info > div.email {
	background-image: url(/img/icon/email-dark.png);
}

.theme .contact.background.dark .content .info > div.email {
	background-image: url(/img/icon/email-light.png);
}

.theme .contact .content .info > div a {
	color: inherit;
}

.theme .contact .content .social {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 40px;
}

.theme .contact .content .social a{
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
    display: inline-block;
}

.theme .contact .content .social a:hover {
	opacity: 0.5;
}

.theme .contact .content .social a.behance {
	background-image: url(/img/icon/behance-dark.png);
}

.theme .contact.background.dark .content .social a.behance {
	background-image: url(/img/icon/behance-light.png);
}

.theme .contact .content .social a.dribbble {
	background-image: url(/img/icon/dribbble-dark.png);
}

.theme .contact.background.dark .content .social a.dribbble {
	background-image: url(/img/icon/dribbble-light.png);
}

.theme .contact .content .social a.github {
	background-image: url(/img/icon/github-dark.png);
}

.theme .contact.background.dark .content .social a.github {
	background-image: url(/img/icon/github-light.png);
}

.theme .contact .content .social a.facebook {
	background-image: url(/img/icon/facebook-dark.png);
}

.theme .contact.background.dark .content .social a.facebook {
	background-image: url(/img/icon/facebook-light.png);
}

.theme .contact .content .social a.twitter {
	background-image: url(/img/icon/twitter-dark.png);
}

.theme .contact.background.dark .content .social a.twitter {
	background-image: url(/img/icon/twitter-light.png);
}

.theme .contact .content .social a.linkedin {
	background-image: url(/img/icon/linkedin-dark.png);
}

.theme .contact.background.dark .content .social a.linkedin {
	background-image: url(/img/icon/linkedin-light.png);
}

.theme .contact .content .social a.googleplus {
	background-image: url(/img/icon/googleplus-dark.png);
}

.theme .contact.background.dark .content .social a.googleplus {
	background-image: url(/img/icon/googleplus-light.png);
}

.theme .contact .content .social a.instagram {
	background-image: url(/img/icon/instagram-dark.png);
}

.theme .contact.background.dark .content .social a.instagram {
	background-image: url(/img/icon/instagram-light.png);
}

.theme .contact .content .social a.youtube {
	background-image: url(/img/icon/youtube-dark.png);
}

.theme .contact.background.dark .content .social a.youtube {
	background-image: url(/img/icon/youtube-light.png);
}

.theme .contact .content .social a.tumblr {
	background-image: url(/img/icon/tumblr-dark.png);
}

.theme .contact.background.dark .content .social a.tumblr {
	background-image: url(/img/icon/tumblr-light.png);
}

/** Contact END **/

/****/

/* Powered by branded.me */

.theme .watermark {
	width: 170px;
	height: 31px;
	position: fixed;
	bottom: 0;
	right: 0;
	background: url(/img/watermark.png) no-repeat center #1E1E1E;
	background-size: 150px 17px;
	z-index: 4;
	border-radius: 3px 0 0 0;
	-webkit-border-radius: 3px 0 0 0;
	-moz-border-radius: 3px 0 0 0;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
	-webkit-transition: all 0.15s;
    transition: all 0.15s;
}

.theme .watermark:hover {
	width: 180px;
	height: 41px;
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	background-color: #5A5A5A;
}

.theme .contact .content .success,
.theme .contact .content .error
{
	display:none;
}

#grid div[section]
{
	width:50%;
	float:right;
}

#grid div[section]:nth-child(even)
{
	float:left;
}

/* Powered by branded.me END */

/* Modals */
.theme.modal-open {
	overflow: hidden;
}

.theme .modal {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(225,227,229,0.9);
	z-index: 9999999;
	left: 0;
	top: 0;
	display: table;
}

.theme .modal .modal-wrapper {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

/** General **/

.theme .modal .modal-content {
	background: #fff;
	max-width: 480px;
	display: block;
	margin: 0 auto;
	padding: 60px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}

.theme .modal .modal-content .close-modal {
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
	background: url(/img/icon/close-dark.png) no-repeat center;
}

.theme .modal .modal-content .header {
	float: left;
	width: 100%;
}

.theme .modal .modal-content .header .image {
	float: left;
	width: 60px;
	height: 60px;
	display: table;
}

.theme .modal .modal-content .header .image .image-wrapper {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

.theme .modal .modal-content .header .image .image-wrapper img {
	width: 100%;
}

.theme .modal .modal-content .header .text {
	float: right;
	width: 400px;
	height: 60px;
	display: table;
}

.theme .modal .modal-content .header .text .text-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.theme .modal .modal-content .header .text span {
	color: inherit;
	font-size: inherit;
}

.theme .modal .modal-content .description {
	margin-top: 20px;
	float: left;
	width: 100%;
	max-height: 300px;
	overflow-y: auto;
}

/** Portfolio **/

.theme .modal.portfolio .modal-content {
	max-width: 860px;
}

.theme .modal.portfolio .modal-content .project .project-image {
	float: left;
	width: 400px;
}

.theme .modal.portfolio .modal-content .project .project-image img {
	width: 100%;
}

.theme .modal.portfolio .modal-content .project .project-description {
	float: right;
	width: 400px;
	display: table;
	height: 400px;
}

.theme .modal.portfolio .modal-content .project .project-description p,
.theme .modal.portfolio .modal-content .project .project-description .button {
	float: left;
	margin-top: 15px;
}

.theme .modal.portfolio .modal-content .project .project-description .button {
	width: auto;
	line-height: auto;
}

.theme .modal.portfolio .modal-content .project .project-description .button:hover {
	background-color: #555759;
}

.theme .modal.portfolio .modal-content .project .project-description .project-wrapper {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}

/** Mobile **/

@media screen and (max-width: 860px) {
	.theme .modal {
		display: block;
	}

	.theme .modal .modal-wrapper {
		display: block;
		overflow: scroll;
	}

	.theme .modal .modal-content {
		padding: 40px;
	}

	.theme .modal .modal-content .header .image {
		float: left;
		width: 15% !important;
		max-width: 60px;
	}

	.theme .modal .modal-content .header .text {
		float: left !important;
		width: 80% !important;
		height: auto !important;
		margin-left: 5% !important;
	}

	.theme .modal.portfolio .modal-content {
	max-width: 860px;
	}

	.theme .modal.portfolio .modal-content .project .project-image {
		float: left;
		width: auto;
		max-width: 400px;
	}

	.theme .modal.portfolio .modal-content .project .project-description {
		float: left;
		width: 100%;
		display: block;
		height: auto;
		margin-top: 20px;
	}

}

/* Desktop */

@media screen and (min-width: 1441px) {

	.theme #grid {
		width: 1240px;
	}

	.theme section .content {
		width: 480px;
	}

	.theme .intro {
		width: 1220px;
	}

	.theme h1 {
		font-size: 36px;
	}

	.theme h2 {
		font-size: 28px;
	}

	.theme h3 {
		font-size: 15px;
	}

	.theme h4, .theme h5 {
		font-size: 13px;
	}

	.theme p,
	.theme .custom-content,
	.theme .custom .content .col,
	.theme .custom .content .col div,
	.theme .custom .content .col span,
	.theme .custom .content ul li,
	.theme .custom .content ol li {
		font-size: 15px;
		line-height: 25px;
	}

	.theme  .list .item .text {
		width: 390px !important;
	}

	.theme .portfolio .list .item .text {
		width: 350px !important;
	}

	.theme .contact .content .info > div h3, .theme .contact .content .info > div h5 {
		width: 430px;
	}

}

@media screen and (min-width: 1920px) {

	.theme #grid {
		width: 1560px;
	}

	.theme section .content {
		width: 640px;
	}

	.theme .intro {
		width: 1540px;
	}

	.theme h1 {
		font-size: 40px;
		line-height: 50px;
	}

	.theme h2 {
		font-size: 30px;
		line-height: 40px;
	}

	.theme h3 {
		font-size: 16px;
		line-height: 26px;
	}

	.theme h4, .theme h5 {
		font-size: 14px;
		line-height: 24px;
	}

	.theme p,
	.theme .custom-content,
	.theme .custom .content .col,
	.theme .custom .content .col div,
	.theme .custom .content .col span,
	.theme .custom .content ul li,
	.theme .custom .content ol li {
		font-size: 16px;
		line-height: 28px;
	}

	.theme  .list .item .text {
		width: 550px !important;
	}

	.theme .portfolio .list .item .text {
		width: 510px !important;
	}

	.theme .contact .content .info > div h3, .theme .contact .content .info > div h5 {
		width: 580px;
	}

}


/* Mobile */

@media screen and (max-width: 860px) {

	.theme #grid {
		width: 100%;
		float: left;
	}

	#grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}

	.theme section {
		width: auto;
		margin: 20px;
		display: block;
		background-attachment: scroll !important;
	}

	.theme section .wrapper {
		padding: 10% 0;
		margin: 0;
		display: block;
		float: left;
	}

	.theme section .content {
		display: block;
		float: left;
		width: 80%;
		margin: 0 10%;
	}

	.theme .intro {
		width: auto;
		margin: 20px 20px 0px 20px;
		display: block;
	}

	.theme .intro .wrapper {
		padding: 12.5% 0 !important;
		display: block;
	}

	.theme .intro .content {
		text-align: center;
		width: 80%;
		margin: 0 10%;
	}

	.theme .intro .content img {
		float: none !important;
		margin: 0 0 30px 0 !important;
	}

	.theme .intro .text,
	.theme .intro .text .text-wrapper {
		float: left;
		width: 100%;
		display: block;
		height: auto !important;
	}

	.theme .intro .text .text-wrapper h1,
	.theme .intro .text .text-wrapper p {
		text-align: center !important;
	}

	.theme .list .item {
		padding-left: 12.5% !important;
		padding-right: 12.5% !important;
		margin-left: -12.5% !important;
	}

	.theme .list .item .image {
		float: left;
		width: 15% !important;
		max-width: 60px;
	}

	.theme .list .item .text {
		float: left !important;
		width: 80% !important;
		height: auto !important;
		margin-left: 5% !important;
	}

	.theme .portfolio .list .item .image {
		max-width: 100px;
	}

	.theme .portfolio .list .item .text {
		height: 100px !important;
	}

	.theme .list .list .item {
		padding: 10px 16px !important;
		margin-left: 0 !important;
	}

	.theme .gallery .list .item {
		padding: 0 !important;
		margin-left: 0 !important;
	}

	.theme .contact .content .info > div {
		width: 100%;
	}

	.theme .contact .content .info > div h3,
	.theme .contact .content .info > div h5 {
		width: 94%;
		float: left;
		margin-left: 6%;
	}

}

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white url('ajax-loader.gif') center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

/* Icons */
@font-face { font-family: "slick"; src: url('fonts/slick.eot'); src: url('fonts/slick.eot?#iefix') format("embedded-opentype"), url('fonts/slick.woff') format("woff"), url('fonts/slick.ttf') format("truetype"), url('fonts/slick.svg#slick') format("svg"); font-weight: normal; font-style: normal; }

/* Arrows */
.slick-prev, .slick-next { transition: all 0.2s; position: absolute; display: inline-block; line-height: 0; font-size: 0; cursor: pointer; background: transparent; color: transparent; padding: 0; border: none; outline: none; z-index: 1; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.5; cursor: default; }

.slick-prev { float: none; bottom: -30px; left: 0; margin-left: 0; height: 40px; width: 40px; background: url(/img/icon/prev-dark.png) no-repeat center rgba(0,0,0,0.08); -webkit-transition: background 0.2s; transition: background 0.2s; }
.slick-next { float: right; bottom: -30px; left: auto; margin-left: 20px; height: 40px; width: 40px; background: url(/img/icon/next-dark.png) no-repeat center rgba(0,0,0,0.08); -webkit-transition: background 0.2s; transition: background 0.2s; }

.slick-prev:hover {
	background-color: rgba(0,0,0,0.16);
}

.slick-next:hover {
	background-color: rgba(0,0,0,0.16);
}

.background.dark .slick-prev { background: url(/img/icon/prev-light.png) no-repeat center left !important; }
.background.dark .slick-next { background: url(/img/icon/next-light.png) no-repeat center right !important; }

.background.dark .slick-prev:hover {
	background-color: rgba(255,255,255,0.15) !important;
}

.background.dark .slick-next:hover {
	background-color: rgba(255,255,255,0.15) !important;
}

/* Dots */

.slick-dots { position: relative; list-style: none; display: block; text-align: center; padding: 0px; margin-top: 20px; width: 100%; }
.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0px; padding: 0px; cursor: pointer; }
.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; }
.slick-dots li button:focus { outline: none; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "\2022"; width: 20px; height: 20px; font-family: "slick"; font-size: 6px; line-height: 20px; text-align: center; color: #232527; opacity: 0.5; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before { opacity: 1; }

#contact-fullname
{
	position:absolute;
	left:-9999px;
}

.modal .modal-content .modal-content-slider > .item:not(:first-child) {
  display: none;
}

.slick-add { cursor: pointer; position: relative; border: none; left: 50%; margin-left:-20px; margin-top:40px; height: 40px; width: 40px; background: url(/shared/themes/default/img/icon/add-dark.png) no-repeat center right; -webkit-transition: opacity 0.2s; transition: opacity 0.2s; }
.background.dark .slick-add { background: url(/shared/themes/default/img/icon/add-light.png) no-repeat center right !important; }

.clearfix:after,
body > div:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .clearfix,
html[xmlns] body > div {
    display: block;
}

* html .clearfix,
* html body > div {
    height: 1%;
}

/* @group Meyer */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    text-align: left;
    vertical-align: baseline;
    text-decoration: none;
}
body {
    background: #fff;
    color: #000;
    line-height: 1;
}

ol, ul { list-style: none; }
input { vertical-align: middle; }
del { text-decoration: line-through; }
ins { text-decoration: none; } /* <ins> would be underlined by default */
:focus { outline: 0; } /* remember to define focus styles! */
i { font-style: italic; }

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
blockquote, q { quotes: none; }

table { /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: collapse;
    border-spacing: 0;
}

/* @end */

/* @group IE fixes */

img { -ms-interpolation-mode: bicubic; }

input { overflow: visible; }

/* @end */

/* @group YUI */

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
abbr, acronym { border: 0; }
caption, th {
    font-weight: normal;
    text-align: left;
}

/* clearfix */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .clearfix {
    display: block;
}

/* @end */

/* Captcha modal */
.captcha-modal {
    width: 100%;
    height: 100%;
    float: left;
    background: rgba(0,0,0,0.75);
    position: fixed!important;
    top: 0;
    display:none;
    z-index:999999;
}

.captcha-modal .captcha-modal-content {
    width: 313px;
    height: 240px;
    padding: 40px;
    background: #fff;
    float: left;
    left: 50%;
    top: 50%;
    margin-left: -190px;
    margin-top: -190px;
    position: absolute;
}

.captcha-modal .captcha-modal-content .close {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 20px;
    cursor: pointer;
}

.captcha-modal .captcha-modal-content h2 {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.captcha-modal .captcha-modal-content .button {
    margin-top:100px;
    float: left;
    box-sizing:border-box;
    text-align: center;
    line-height: 40px;
    width: 100%;
    background: #000;
    color: #fff;
    text-decoration: none;
}

.captcha-modal .captcha-modal-content .button:hover {
    opacity: 0.75;
}